<div>
  <div class='two columns'>
    <h5>Folders</h5>
    <hr class='small' />
    <div id='filebrowser'>
      <ul>
        <li>Project 1</li>
        <ul>
          <li>index.html</li>
          <li>css</li>
          <ul>
            <li>style.css</li>
          </ul>
          <li>js</li>
          <ul>
            <li>jquery.js</li>
          </ul>
        </ul>
      </ul>
    </div>
  </div>
  <div id='editor' class='fourteen columns'>testing balls</div>
</div>
<<<<<<< HEAD
=======
<div id='editor' class='fourteen columns'><%= @current_file["content"] %></div>
>>>>>>> dfaf716ff583ea80628b865568e244a34cf1e7ec
<script type='text/javascript'>
  window.App = new DBIDE.Views.MainView({
    projects: <%= @projects.to_json %>,
    current_file: <%= @current_file.to_json %>
  });
</script>
<div>
<button onclick='editor.setValue("YOU CHANGED IT")'>Change</button>
<button onclick='alert(editor.getValue())'>Alert</button>
<button onclick='editor.setKeyboardHandler(require("ace/keyboard/vim").handler); $.ajax({
  type: "POST",
  url: "/mode",
  data: {"mode": "vim"},});
  alert("hi");'>Vim</button>
<button onclick='editor.setTheme("ace/theme/monokai")'>Theme</button>
</div>
<div><%= @projects.to_json %></div>
<div><%= @current_file.to_json %></div>
