<div>
  <div class='two columns'>
    <h5>Folders</h5> <img class="new-folder" style="vertical-align:-1px;" src="/images/plus.png">
    <hr class='small' />
    <div id='filebrowser'>
      <ul>
        <li>Project 1</li>
        <ul>
          <li>index.html</li>
          <li>css</li>
          <ul>
            <li>style.css</li>
          </ul>
          <li>js</li>
          <ul>
            <li>jquery.js</li>
          </ul>
        </ul>
      </ul>
    </div>
  </div>
  <div id='editor' class='fourteen columns'><%= @current_file["content"] %></div>
</div>
<script type='text/javascript'>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");
  editor.getSession().setTabSize(2);
  editor.getSession().setUseSoftTabs(true);
  window.App = new DBIDE.Views.MainView({
    projects: <%= @projects.to_json %>,
    current_file: <%= @current_file.to_json %>
  });
</script>
<hr class='small'>
<div>
  <button onclick='editor.setValue("YOU CHANGED IT")'>Change</button>
  <button onclick='alert(editor.getValue())'>Alert</button>
  <button onclick='editor.setKeyboardHandler(require("ace/keyboard/vim").handler); $.ajax({
    type: "POST",
    url: "/mode",
    data: {"mode": "vim"},});'>Vim</button>
  <button onclick='editor.setTheme("ace/theme/monokai")'>Theme</button>
  <div><%= @projects.to_json %></div>
  <div><%= @current_file.to_json %></div>
</div>